    .App {
        justify-content: center;
        text-align: center;
        background-color: #fff;
        /* display: flex; */
        height: 100vh;
        background-size: cover;
        position: fixed;
        background-position: center;
        min-width: 100%;
        min-height: 100%;
        margin: 0 auto
    }
    
    .text {
        /* outline-color: #fff;
        outline-width: 10px; */
        background-color: #242222;
        /* display: inline-block; */
        margin: 0 auto;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        /* font-family: 'Ramabhadra', sans-serif; */
        font-size: 25px;
        color: #fff;
        min-width: 100%;
        min-height: 50px;
        text-align: left;
        padding-left: 20px;
    }
    
    .container {
        /* width: 100%; */
        justify-content: center;
        text-align: center;
        /* display: block; */
        /* background: #000; */
    }
    
    .location-search-input {
        display: flex;
        width: 40%;
        height: 40px;
        background-color: #fff;
        margin: 10px 0px 0px 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 5px;
        text-align: left;
        padding: 5px 10px 5px 5px;
        font-family: 'Ramabhadra', sans-serif;
        font-size: 16px;
        color: #000;
        /* font-weight: bold; */
    }
    
    .autocomplete-dropdown-container {
        width: 60%;
        justify-content: center;
        text-align: left;
        margin: 0px 0px 0px 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        /* background-color: red; */
    }
    
    .locallocaltimestring {}
    
    .datetimecontainer {
        width: 40%;
        height: 200px;
        background-color: #fff;
        /* margin-top: 10px; */
        /* colo */
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 5px;
        text-align: left;
        padding: 0px 0px 10px 15px;
        /* top, right, bottom, left*/
        /* font-family: 'Ramabhadra', sans-serif; */
        font-size: 16px;
        margin: 0px 0px 0px 30px;
        color: #000;
        /* margin: 0 auto; */
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        text-align: center;
        align-items: center;
        background-color: #242222;
        width: 100%;
        color: #fff;
        height: 50px;
        justify-content: center;
    }
    
    .timer {
        background-color: #fff;
        width: 200;
        height: 100;
    }