.App {
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: 100vh;
    background-size: cover;
    position: fixed;
    background-position: center;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto
}

.navbar {
    background-color: #242222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .title {
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
    display: block;
    width: 200px
}

.navbar .title-short {
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 0.5rem;
    font-weight: bold;
    display: none;
    width: 200px
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navbar ul li {
    color: white;
    list-style: none;
}

.text {
    background-color: #242222;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    color: #fff;
    min-width: 100%;
    min-height: 50px;
    text-align: left;
    padding-left: 20px;
}

.container {
    justify-content: center;
    text-align: center;
}

.location-search-input {
    display: flex;
    width: 40%;
    height: 40px;
    background-color: #fff;
    margin: 10px 0px 0px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 5px 10px 5px 5px;
    font-size: 16px;
    color: #000;
}

.autocomplete-dropdown-container {
    width: 60%;
    justify-content: center;
    text-align: left;
    margin: 0px 0px 0px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /* background-color: red; */
}

.datetimecontainer {
    width: 40%;
    height: 200px;
    background-color: #fff;
    /* margin-top: 10px; */
    /* colo */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
    margin: 0px 0px 0px 30px;
    color: #000;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    text-align: center;
    align-items: center;
    background-color: #242222;
    width: 100%;
    color: #fff;
    height: 50px;
    justify-content: center;
}

@media (max-width:500px) {
    .location-search-input {
        width: 85%;
    }
    .datetimecontainer {
        display: flex;
        width: 80%;
        height: 100px;
        justify-content: center;
        text-align: left;
        border-radius: 10px;
        margin-top: 20px;
        flex-direction: column;
        padding: 20px;
    }
    .navbar .title {
        display: none;
    }
    .navbar .title-short {
        display: block;
        font-size: 20px;
    }
    .navbar {
        display: flex;
        justify-content: center;
    }
}